# services:
#   web:
#     build:
#       context: .
#       dockerfile: Dockerfile.dev
#     ports: 
#       - "3000:3000"
#     volumes:
#       - .:/app
#       - /app/node_modules
#       - /app/.next  # Добавьте для кэша Next.js
#     environment:
#       NODE_ENV: development
#       CHOKIDAR_USEPOLLING: "true"
#       WATCHPACK_POLLING: "true"  # Добавьте эту строку
#     command: npm run dev
#     stdin_open: true  # Для интерактивного режима
#     tty: true